name: anythingllm

networks:
  anything-llm:
    driver: bridge

services:
  anything-llm:
    container_name: anythingllm
    image: mintplexlabs/anythingllm:latest
    cap_add:
      - SYS_ADMIN
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - anything-llm
    restart: unless-stopped

  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: gotenberg
    ports:
      - "4000:3000"
    networks:
      - anything-llm
    restart: unless-stopped
