/* Thread Notes Rich Editor Styles */

/* ========================================
   Yoopta Notes Editor
   ======================================== */
.yoopta-editor-wrapper {
  height: 100%;
  width: 100%;
}

.yoopta-notes-editor {
  height: 100%;
  min-height: 0;
}

.yoopta-notes-editor [contenteditable="true"] {
  outline: none;
}